.camera {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.camera__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 680px;
  margin: 0 1rem 1rem;
}

.camera__wrapper video {
  border: 3px solid #fff;
  border-radius: 3px;
}

.camera__button-container {
  margin-top: 1rem;
}

.webcam-overlay {
  position: absolute;
}

.webcam-overlay--hidden {
  display: none;
}

.results__container {
  background-color: #fff;
  width: 100%;
  padding-top: 1rem;
  min-height: 250px;
  display: flex;
  justify-content: center;
}

.results__wrapper {
  padding: 1rem 0 0 1rem;
}

@media only screen and (min-width: 768px) {
  .camera__wrapper {
    width: 100%;
    margin: 0 1rem 1rem;
  }

  .results__wrapper {
    padding: 0;
  }
}
